In [1]:
import pandas as pd
import yfinance as yf
import sys
sys.path.append("../scripts")
from db_utils import insert_dataframe, fetch_one

In [2]:
tickers = [
    "AAPL",  # Apple Inc.,
    "MSFT",  # Microsoft Corporation,
    "GOOGL",  # Alphabet Inc. Class A
    "AMZN",  # Amazon.com Inc.,
    "NVDA"  # NVIDIA Corporation
]

In [3]:
data = {}
for ticker in tickers:
    df = yf.download(ticker, start="2025-02-01", end="2025-04-01")
    df.reset_index(inplace=True)

    df.columns = [col[0] if isinstance(col, tuple) else col for col in df.columns]

    df['stock'] = ticker
    data[ticker] = df

    df.rename(columns={
        'Date': 'date',
        'Open': 'open',
        'High': 'high',
        'Low': 'low',
        'Close': 'close',
        'Volume': 'volume'
    }, inplace=True)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
data['NVDA'].head()

        date       close        high         low        open     volume stock
0 2025-02-03  116.649277  118.559097  112.999611  114.739449  371235700  NVDA
1 2025-02-04  118.639091  121.188852  116.689266  116.949244  256550000  NVDA
2 2025-02-05  124.818520  124.988502  120.748894  121.748802  262230800  NVDA
3 2025-02-06  128.668152  128.758155  125.198478  127.408273  251483600  NVDA
4 2025-02-07  129.828049  130.357999  124.988498  129.208111  228186300  NVDA

In [5]:
data = pd.concat(data.values(), ignore_index=True)

In [6]:
data.stock.unique()

array(['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'NVDA'], dtype=object)

In [7]:
insert_dataframe(data, 'stock_prices')

âœ… Inserted 200 rows into 'stock_prices'.

In [8]:
print("Rows inserted:", fetch_one("SELECT * FROM stock_prices;"))

Rows inserted: ('2025-02-03 00:00:00', 227.75958251953125, 231.5753945205246, 225.45212191586603, 229.73741895869952, 73063300, 'AAPL')