In [1]:
import pandas as pd
import yfinance as yf
import sys
sys.path.append("../scripts")
from db_utils import insert_dataframe, fetch_one

In [2]:
tickers = [
    "AAPL",  # Apple Inc.,
    "MSFT",  # Microsoft Corporation,
    "GOOGL",  # Alphabet Inc. Class A
    "AMZN",  # Amazon.com Inc.,
    "NVDA"  # NVIDIA Corporation
]

In [3]:
# Download historical data for the tickers
data = {}
for ticker in tickers:
    # Fetch historical data for the last 5 years
    df = yf.download(ticker, start="2024-02-01", end="2024-04-01")
    # Store the adjusted close prices
    df.reset_index(inplace=True)

    # Rename columns to remove multi-index
    df.columns = [col[0] if isinstance(col, tuple) else col for col in df.columns]

    df['stock'] = ticker
    data[ticker] = df

    df.rename(columns={
        'Date': 'date',
        'Open': 'open',
        'High': 'high',
        'Low': 'low',
        'Close': 'close',
        'Volume': 'volume'
    }, inplace=True)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
data['NVDA'].head()

        date      close       high        low       open     volume stock
0 2024-02-01  63.003342  63.167282  61.626860  62.076688  369146000  NVDA
1 2024-02-02  66.135162  66.574992  63.666085  63.949979  476578000  NVDA
2 2024-02-05  69.305977  69.470916  67.179776  68.199390  680078000  NVDA
3 2024-02-06  68.197395  69.727819  66.275121  69.603865  683111000  NVDA
4 2024-02-07  70.072678  70.193634  67.574615  68.293347  495575000  NVDA

In [5]:
# Concatenate all dataframes into a single dataframe
data = pd.concat(data.values(), ignore_index=True)

In [6]:
data.head()

        date       close        high         low        open     volume stock
0 2024-02-01  185.744797  185.834256  182.722947  182.891930   64885400  AAPL
1 2024-02-02  184.740845  186.212008  178.180228  178.786588  102518000  AAPL
2 2024-02-05  186.559906  188.120543  184.730891  187.027102   69668800  AAPL
3 2024-02-06  188.170258  188.180192  185.655358  185.744817   43490800  AAPL
4 2024-02-07  188.279602  189.909814  187.484373  189.502257   53439000  AAPL

In [7]:
insert_dataframe(data, 'stock_prices')

âœ… Inserted 200 rows into 'stock_prices'.

In [8]:
print("Rows inserted:", fetch_one("SELECT * FROM stock_prices;"))

Rows inserted: ('2024-02-01 00:00:00', 185.7447967529297, 185.8342559814184, 182.72294652699253, 182.891930125601, 64885400, 'AAPL')